<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<appSettings>
	<add key="Diretoriok" value="E:\Arquivos\Usuarios\k"/>
	<add key="Diretorio" value="E:\"/>
    <add key="CaminhoGestores" value="E:\Arquivos\Usuarios\Gestores.txt"/>
</appSettings>
</configuration>